# Amostrando dados e identificando palavras mais frequentes

In [197]:
# Imports
import pandas as pd
import datetime
import matplotlib.pyplot as plt
from IPython.display import clear_output
import nltk
import re
from collections import defaultdict, Counter
from string import punctuation

#stopwords em portugues
from nltk.corpus import stopwords
stopwords = set(stopwords.words('portuguese') + list(punctuation) + ['‚Äú','‚Äù'])

#fun√ßao pra limpeza de texto
from nltk.tokenize import TweetTokenizer
tweet_tokenizer = TweetTokenizer(strip_handles=True, reduce_len=True, preserve_case=False)

# Coletando 0,5% dos tweets para uma DataFrame

#### Pode demorar.

In [63]:
data = pd.read_json('tweets_222_23abr2020.json', convert_dates=False, lines = True, chunksize = 2000) # ABRINDO O ARQUIVO JSON NO MESMO DIRET√ìRIO QUE O IPYNB
tweets = pd.Series(name = 'ID')

print(type(data))

num = 0
count = 0
for i in data:
    if num%200 == 0: # N√öMERO DE TWEETS A SEREM LIDOS
        tweets = tweets.append(i[['text', 'created_at']])
        count += 1
        clear_output()
        print(str(2000 * count) + " tweets lidos!")
    num += 1
tweets.drop(columns=0)
tweets.size

34000 tweets lidos!

KeyboardInterrupt:

In [64]:
len(tweets)

34000

In [65]:
tweets.head()

,0,created_at,text
0,NaN,{'$date': '2020-04-11T20:40:10.000-0300'},@gerlainesouza @andeersonreis Efeitos da quare...
1,NaN,{'$date': '2020-04-11T20:40:10.000-0300'},"RT @viiih2906: "" A quarentena acabou, J√° pode ..."
2,NaN,{'$date': '2020-04-11T20:40:10.000-0300'},RT @rubbgc: 2020 tinha tudo p ser meu ano üòñ co...
3,NaN,{'$date': '2020-04-11T20:40:10.000-0300'},O representante da prov√≠ncia de Xangai - MARCO...
4,NaN,{'$date': '2020-04-11T20:40:10.000-0300'},RT @andreawerner_: ‚ÄúA fome vai matar muito mai...

### Criando a coluna "Day"

In [66]:
tweets['Day'] = ""

In [67]:
tweets = tweets.reset_index()

In [68]:
num = 0
for i in range(len(tweets.index)):
    tweets.at[num, 'Day'] = tweets['created_at'][num]['$date'].split('T')[0]
    num += 1

#### Salvando DataFrame em um CSV

In [80]:
tweets.to_csv('out.csv', index=True)

#### Dias coletados:

In [73]:
print(pd.unique(tweets['Day']))

['2020-04-11' '2020-04-12' '2020-04-13' '2020-04-14' '2020-04-15'
 '2020-04-16' '2020-04-22']