# Identificando usuários que mais tweetam

In [16]:
# Imports
import pandas as pd
import datetime

In [35]:
data = pd.read_json('tweets_222_23abr2020.json', convert_dates=False, lines = True, chunksize = 1) # ABRINDO O ARQUIVO JSON NO MESMO DIRETÓRIO QUE O IPYNB
tweets = pd.Series(name = 'ID')

num = 0
for i in data:
    if(num<5000): # NÚMERO DE TWEETS A SEREM LIDOS
        tweets = tweets.append(i[['user', 'created_at']])
    else:
        break
    num += 1

tweets.drop(columns=0)
tweets.size

<ipython-input-35-393e854e1dd9>:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  tweets = pd.Series(name = 'ID')

14997

In [36]:
tweets.head()

,0,created_at,user
0,NaN,{'$date': '2020-04-11T20:40:10.000-0300'},"{'follow_request_sent': None, 'profile_use_bac..."
1,NaN,{'$date': '2020-04-11T20:40:10.000-0300'},"{'follow_request_sent': None, 'profile_use_bac..."
2,NaN,{'$date': '2020-04-11T20:40:10.000-0300'},"{'follow_request_sent': None, 'profile_use_bac..."
3,NaN,{'$date': '2020-04-11T20:40:10.000-0300'},"{'follow_request_sent': None, 'profile_use_bac..."
4,NaN,{'$date': '2020-04-11T20:40:10.000-0300'},"{'follow_request_sent': None, 'profile_use_bac..."

### Criando a coluna "Day"

In [37]:
tweets['Day'] = ""

In [57]:
num = 0
for i in range(len(tweets.index)):
    tweets.at[num, 'Day'] = tweets['created_at'][num]['$date'].split('T')[0]
    num += 1

In [58]:
tweets['created_at'][1]['$date']

'2020-04-11T20:40:10.000-0300'

In [59]:
tweets.head()

,0,created_at,user,Day,Username
0,NaN,{'$date': '2020-04-11T20:40:10.000-0300'},"{'follow_request_sent': None, 'profile_use_bac...",2020-04-11,andreeyreiis
1,NaN,{'$date': '2020-04-11T20:40:10.000-0300'},"{'follow_request_sent': None, 'profile_use_bac...",2020-04-11,madutargino
2,NaN,{'$date': '2020-04-11T20:40:10.000-0300'},"{'follow_request_sent': None, 'profile_use_bac...",2020-04-11,jbonif4cio
3,NaN,{'$date': '2020-04-11T20:40:10.000-0300'},"{'follow_request_sent': None, 'profile_use_bac...",2020-04-11,jorge_wam
4,NaN,{'$date': '2020-04-11T20:40:10.000-0300'},"{'follow_request_sent': None, 'profile_use_bac...",2020-04-11,naoehamamae

### Criando a coluna "Username"

In [41]:
tweets['Username'] = ""

In [42]:
# POPULANDO A COLUNA "Username" CONFORME O DICIONÁRIO "user"
num = 0
for i in range(len(tweets.index)):
    tweets.at[num, 'Username'] = tweets['user'][num]['screen_name']
    num += 1

In [60]:
tweets.head(20)

,0,created_at,user,Day,Username
0,NaN,{'$date': '2020-04-11T20:40:10.000-0300'},"{'follow_request_sent': None, 'profile_use_bac...",2020-04-11,andreeyreiis
1,NaN,{'$date': '2020-04-11T20:40:10.000-0300'},"{'follow_request_sent': None, 'profile_use_bac...",2020-04-11,madutargino
2,NaN,{'$date': '2020-04-11T20:40:10.000-0300'},"{'follow_request_sent': None, 'profile_use_bac...",2020-04-11,jbonif4cio
3,NaN,{'$date': '2020-04-11T20:40:10.000-0300'},"{'follow_request_sent': None, 'profile_use_bac...",2020-04-11,jorge_wam
4,NaN,{'$date': '2020-04-11T20:40:10.000-0300'},"{'follow_request_sent': None, 'profile_use_bac...",2020-04-11,naoehamamae
5,NaN,{'$date': '2020-04-11T20:40:10.000-0300'},"{'follow_request_sent': None, 'profile_use_bac...",2020-04-11,JhinWP
6,NaN,{'$date': '2020-04-11T20:40:11.000-0300'},"{'follow_request_sent': None, 'profile_use_bac...",2020-04-11,falavc_dn
7,NaN,{'$date': '2020-04-11T20:40:11.000-0300'},"{'follow_request_sent': None, 'profile_use_bac...",2020-04-11,DOPEPAYN
8,NaN,{'$date': '2020-04-11T20:40:11.000-0300'},"{'follow_request_sent': None, 'profile_use_bac...",2020-04-11,Anderson2512
9,NaN,{'$date': '2020-04-11T20:40:11.000-0300'},"{'follow_request_sent': None, 'profile_use_bac...",2020-04-11,AureaAp
10,NaN,{'$date': '2020-04-11T20:40:11.000-0300'},"{'follow_request_sent': None, 'profile_use_bac...",2020-04-11,petvergette
11,NaN,{'$date': '2020-04-11T20:40:11.000-0300'},"{'follow_request_sent': None, 'profile_use_bac...",2020-04-11,thaizamacedo
12,NaN,{'$date': '2020-04-11T20:40:11.000-0300'},"{'follow_request_sent': None, 'profile_use_bac...",2020-04-11,estevocp
13,NaN,{'$date': '2020-04-11T20:40:11.000-0300'},"{'follow_request_sent': None, 'profile_use_bac...",2020-04-11,lucas_michelini
14,NaN,{'$date': '2020-04-11T20:40:11.000-0300'},"{'follow_request_sent': None, 'profile_use_bac...",2020-04-11,Andrew_Spartano
15,NaN,{'$date': '2020-04-11T20:40:11.000-0300'},"{'follow_request_sent': None, 'profile_use_bac...",2020-04-11,monica_sofiaa
16,NaN,{'$date': '2020-04-11T20:40:11.000-0300'},"{'follow_request_sent': None, 'profile_use_bac...",2020-04-11,malysz_anna
17,NaN,{'$date': '2020-04-11T20:40:11.000-0300'},"{'follow_request_sent': None, 'profile_use_bac...",2020-04-11,maedoluccas
18,NaN,{'$date': '2020-04-11T20:40:11.000-0300'},"{'follow_request_sent': None, 'profile_use_bac...",2020-04-11,tratebemgestao1
19,NaN,{'$date': '2020-04-11T20:40:12.000-0300'},"{'follow_request_sent': None, 'profile_use_bac...",2020-04-11,luquinhassss02

### Coletando dias disponíveis no conjunto de dados

In [64]:
days = tweets['Day'].unique()
print(days)

['2020-04-11']

# Obtendo X usuários que mais tweetaram em um dia Y

In [99]:
x = 3
y = "2020-04-12"

# AVISANDO CASO UM DIA NÃO ESTEJA DISPONÍVEL NO CONJUNTO CARREGADO
if y not in days:
    print(y + ' não está disponível no conjunto de tweets analisados.')
    y = days[0]
    print('Definindo y como o primeiro dia disponível no banco de dados: ' + y)

2020-04-12 não está disponível no conjunto de tweets analisados.
Definindo y como o primeiro dia disponível no banco de dados: 2020-04-11

In [100]:
results = tweets.loc[tweets['Day'] == y].groupby('Username').count().sort_values(by='user', ascending = False)
print(results)

                 0  created_at  user  Day
Username
IvaniseShakira   0          10    10   10
BrisaBot         0           9     9    9
ac7cbf7867e6429  0           6     6    6
Bot_Corona_V     0           6     6    6
Andrew_Spartano  0           6     6    6
...             ..         ...   ...  ...
VoltaPT13        0           1     1    1
VrechThomas      0           1     1    1
WHOXVOM          0           1     1    1
WallaceMcPheel   0           1     1    1
zzzzxxxxccccaa   0           1     1    1

[4530 rows x 4 columns]

#### Resultado:

In [101]:
results.head(x)

                 0  created_at  user  Day
Username
IvaniseShakira   0          10    10   10
BrisaBot         0           9     9    9
ac7cbf7867e6429  0           6     6    6

### Obtendo o usuário que mais tweetou nesse dia Y

In [94]:
results['user'].idxmax()

'IvaniseShakira'